
/* 30. consult_header
--------------------------------------------------------------------------------*/

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .1);
    transition: background ease .3s;
}

.header .container {
    position: relative;
}

.header:after, .header:before {
    content: "";
    display: table;
    clear: both;
}

.header .consult-nav {
    float: right;
    transition: padding .3s ease;
    padding: 35px 20px;
}

.header .consult-nav .consult-menu a {
    text-transform: capitalize;
}

@media (min-width: 992px) {
    .header .consult-nav .consult-menu a {
        text-transform: uppercase;
    }
}

@media (min-width: 992px) {
    .header .consult-nav {
        text-align: center;
        padding: 0;
        float: none;
    }
}

.header .search-form {
    display: inline-block;
    margin-left: 10px;
}

@media (min-width: 992px) {
    .header .search-form {
        margin-left: 40px;
    }
}

.header.shrink {
    position: fixed;
    background-color: #012b3a;
}

.header.shrink .header__logo {
    height: 60px;
    line-height: 60px;
}

.header.shrink .header__chooseLanguage, .header.shrink .search-form__toggle {
    height: 70px;
    line-height: 70px;
}

@media (min-width: 992px) {
    .header.shrink .consult-nav .consult-menu > li > a {
        height: 70px;
        line-height: 70px;
    }
}

.header.shrink .consult-nav {
    padding: 15px 20px;
}

@media (min-width: 992px) {
    .header.shrink .consult-nav {
        padding: 0;
    }
}

.header + * {
    margin-top: 100px;
}

.header__logo {
    line-height: 100px;
    float: left;
    transition: height .3s ease;
}

.header__style-02 {
    background-color: transparent;
}

.header__style-02 + * {
    margin-top: 0;
}

.header__style-02:not(.shrink) {
    box-shadow: none;
}

.header__style-02:not(.shrink) .consult-nav .consult-menu > li > a {
    letter-spacing: 0.1em;
}
.header__style-03 {
    background-color: transparent;
    box-shadow: none;
}

.header__style-03 + * {
    margin-top: 0;
}

.navbar-toggle {
    cursor: pointer;
}

.navbar-toggle > span {
    width: 31px;
    height: 3px;
    background-color: #1f1c2f;
    display: block;
    margin: 5px auto;
    transition: all .3s ease-in-out;
}

.navbar-toggle.open > span:nth-child(1), .navbar-toggle.open > span:nth-child(3) {
    width: 25px;
}

.navbar-toggle.open > span:nth-child(1) {
    -webkit-transform: translateX(-10px) rotate(-45deg);
    transform: translateX(-10px) rotate(-45deg);
}

.navbar-toggle.open > span:nth-child(3) {
    -webkit-transform: translateX(-10px) rotate(45deg);
    transform: translateX(-10px) rotate(45deg);
}

.consult-nav {
    z-index: 999;
}

.consult-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.consult-nav li {
    position: relative;
    z-index: 9;
}

.consult-nav li a {
    display: block;
    position: relative;
    text-decoration: none;
}

@media (min-width: 993px) {
    .consult-nav {
        text-align: center;
    }

    .consult-nav .consult-menu .sub-menu {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }

    .consult-nav .consult-menu li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }

    .consult-nav .consult-menu a {
        padding: 20px 30px;
    }

    .consult-nav .consult-menu .sub-menu {
        background-color: #fff;
        text-align: left;
        border: 1px solid rgba(0, 0, 0, .1);
        border-top: 3px solid #f39c12;
    }

    .consult-nav .consult-menu .sub-menu a {
        padding: 10px 15px;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .consult-nav .consult-menu .sub-menu a:after {
        right: 15px;
    }

    .consult-nav .consult-menu .sub-menu li .sub-menu {
        top: -2px;
    }

    .consult-nav .consult-menu .sub-menu li:first-child > a {
        border-top: 0;
    }

    .consult-nav .consult-menu .sub-menu li:first-child .sub-menu {
        top: -3px;
    }

    .consult-nav .consult-menu > li {
        display: inline-block;
    }

    .consult-nav .consult-menu a {
        font-size: 14px;
        transition: all 300ms ease;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0 15px;
        height: 100px;
        line-height: 100px;
    }

    .consult-nav .consult-menu .sub-menu {
        display: block !important;
    }

    .consult-nav .consult-menu .sub-menu {
        width: 250px;
        position: absolute;
        top: 100%;
        z-index: -1;
        left: 0;
        transition: all 300ms cubic-bezier(.175, .885, .32, 1.275);
    }

    .consult-nav .consult-menu .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    .consult-nav .consult-menu .sub-menu li.menu-item-has-children > a:after {
        font-family: "FontAwesome";
        content: "\F105";
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .consult-nav .consult-menu .sub-menu li > a {
        font-size: 14px;
        transition: all 300ms ease;
        font-weight: 300;
        text-transform: capitalize;
        height: auto;
        line-height: 1.875;
        border-bottom: none;
        box-shadow: none;
    }

    .consult-nav .navbar-toggle {
        display: none;
    }
}

@media (max-width: 992px) {
    .consult-nav .consult-menu {
        position: fixed;
        top: 0;
        will-change: transform;
    }

    .consult-nav .consult-menu a:after {
        right: 0;
        width: 50px;
        text-align: center;
    }

    .consult-nav .consult-menu .sub-menu {
        display: none;
    }

    .consult-nav .consult-menu a {
        font-size: 14px;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        color: #ededed;
    }

    .consult-nav .consult-menu a:after {
        border-left: 1px solid rgba(255, 255, 255, .1);
    }

    .consult-nav .consult-menu {
        left: 0;
        width: 280px;
        background-color: #012b3a;
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }

    .consult-nav .active.consult-menu {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .consult-nav .consult-menu {
        z-index: 99999;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
        width: 280px;
        transition: all 300ms ease;
    }

    .consult-nav .consult-menu li {
        position: relative;
    }
    .consult-nav .consult-menu .sub-menu a {
        padding: 12px 15px;
        font-size: 14px;
    }

    .consult-nav .navbar-toggle {
        display: block;
    }
}


.consult-nav li:hover > a {
    color:#f39c12!important;
}

.consult-nav .consult-menu .sub-menu li:hover > a {
    color:#f39c12!important;
}

.nav-link > i {
    color:#f39c12!important;
}


